@model ErrorViewModel
@{
    ViewData["Title"] = "Erro";
}

<h1 class="text-danger">Ops</h1>
<h2 class="text-danger">Ocorreu um erro durante o processamento da sua requisição</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Detalhes do erro</h3>
<p>
    @Model.Details
</p>